[Desktop Entry]
Version=1.0
Type=Link
Name=HTML無料テンプレートダウンロード-レスポンシブ・日本語向け・商用利用もOK・著作権フリー テンプレどん | ポポデザイン
Comment=
Icon=user-bookmarks
URL=https://popo-design.net/template/
